<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXJ9ypXwTWQzdQIrjRGbOLNYPa1wz9HzE</string>
	<key>GCM_SENDER_ID</key>
	<string>451304047939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.numuapp.numuapp</string>
	<key>PROJECT_ID</key>
	<string>numu-app-2ca93</string>
	<key>STORAGE_BUCKET</key>
	<string>numu-app-2ca93.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451304047939:ios:f0c6b04a6cd61546785bf6</string>
</dict>
</plist>